<footer id="footer" class="small">
  <div id="content-footer" class="container">
    <div class="d-flex justify-content-end">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" aria-current="page" href="/#">main</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="/#about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="/#features">game features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="/#requirements">system requirements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="/#quotes">quotes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="https://www.facebook.com" target="_blank"><img
              src="images/facebook.svg" alt="facebook" aria-label="read more about facebook"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="https://www.twitter.com" target="_blank">
            <!--<img src="images/twitter.svg" alt="" aria-label="read more about twitter">-->
            <i class="bi bi-twitter"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="https://www.youtube.com" target="_blank"><img
              src="images/vector.svg" alt="" aria-label="read more about youtube"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase mx-2" href="https://www.twitch.com" target="_blank"><img
              src="images/twitch.svg" alt="" aria-label="read more about twitch"></a>
        </li>
      </ul>
    </div>
    <hr class="bg-white my-4">
    <div class="d-flex justify-content-between">
      <ul class="nav">
        <li class="nav-item text-secondary">
          <p>&copy; 2018
            Your
            Games, Inc. All Rights
            Reserved
          </p>
        </li>
      </ul>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="#pp">privacy policy |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="#tos">terms of services |</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white text-uppercase" href="#coc">code of conduct</a>
        </li>
      </ul>
    </div>
  </div>
</footer>