:root {
    --orange-color: #f9b23e;
    --orange-dark: #c78e32;
    --orange-light: #ffca2c;
}

html,
body {
    height: 100%;
    margin: 0;
}

nav .navbar-brand {
    letter-spacing: 0.3rem;
}

nav .nav-link {
    letter-spacing: 0.1rem;
    font-weight: 600;
    font-size: 0.9rem;
}

a,
p {
    font-family: 'Open Sans', sans-serif;
}

.display-2,
.h1,
.h2,
.h3,
.h4 {
    font-family: Arial, Helvetica, sans-serif;
}

.h1 {
    letter-spacing: 0.2rem;
}

.text-orange {
    color: var(--orange-color);
}

.border-orange {
    border-color: var(--orange-color);
}

.btn-warning {
    width: 15rem;
    padding: 1rem 1rem;
    background-color: var(--orange-color);
}

.btn-warning:focus,
.btn-warning:hover {
    box-shadow: 0 0 10px var(--orange-light), 0 0 40px var(--orange-light, 0 0 80px var(--orange-light));
}

.bg::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/features.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

#content {
    min-height: 85vh;
}

#data {
    max-width: 500px;
    background-color: rgba(0,0,0, 0.8);
    border: 1px solid var(--orange-color);
    padding: 40px 40px;
}

#data a:hover {
    color: var(--orange-dark);
    text-decoration: none !important;
}